/*  ================================
        global area start
    ================================ */

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #1a1a1a;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.main-div {
    overflow: hidden;
}

img {
    max-width: 100%;
}


.product-dec table{
    width: 100% !important;
}

.pagebuilder-mobile-only{
    display: none;
}

/*  ================================
        global area end
    ================================ */

/*  ================================
        header area start
    ================================ */

.header-top {
    overflow: hidden;
    background-color: #950926;
}

.wel-come {
    padding: 10px 0;
    font-weight: 600;
}

.wel-come h4 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.wel-come h4 b {
    font-size: 20px;
}

.menu-top {
    text-align: right;
}

.menu-top ul {
    display: inline-block;
}

.menu-top li {
    list-style: none;
    display: inline-block;
    padding: 8px 0;
}

.separate {
    margin: 0 10px;
    color: #fff;
}

.menu-top li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

.menu-top li a:hover {
    color: #fff;
}

.logo-area {
    margin: 10px 0;
}

.logo {
    padding: 14px 0;
}

/*======================== Menu Design ==================*/
.menu-container {
    background-color: #950926;
}

#menu-switcher,
.navbar-header > label,
.switch {
    display: none;
}

.menu-container label::before {
    border-bottom: 2px solid #fff;
    box-shadow: 0 5px 0 0 #fff, 0 0 0 0 inset, 0 -5px 0 0 #fff;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.switch {
    width: 100%;
    float: left;
    height: auto;
    min-height: 45px;
    position: relative;
}

.menu-container label {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	cursor: pointer;
	display: none;
	height: 35px;
	padding: 0;
	position: absolute !important;
	right: 9px;
	top: 5px;
	width: 40px;
	z-index: 9999;
	border: 1px solid #fff;
	margin: 0;
}

#navbar ul {
    text-align: center;
}

#navbar ul li {
    display: inline-block;
    list-style: outside none none;
}

#navbar ul li a {
    font-size: 18px;
    color: #fff;
    line-height: 25px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    position: relative;
    border-left: 1px solid #fff;
    padding: 10px 63px;
}

#navbar ul li:first-child a {
    border: 0;
}

#navbar ul li a:hover {
    background-color: #1D71AB;
    color: #fff;
}

/* menu part end */

/*  ================================
        header area end
    ================================ */

/*  ================================
        slider area start
    ================================ */
@keyframes slidy {
    0% {
        left: 0;
    }

    17% {
        left: 0;
    }

    20% {
        left: -100%;
    }

    37% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    57% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    77% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    97% {
        left: -400%;
    }

    100% {
        left: 0;
    }
}

.all-slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 10px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

figure {
    margin: 0;
}

figure.slider {
    animation: 30s slidy infinite;
    font-size: 0;
    position: relative;
    width: 600%;
}

figure.slider figure {
    display: inline-block;
    height: auto;
    position: inherit;
    width: 16.66666666666667%;
}

figure.slider img {
    width: 100%;
    height: auto;
}

figure.slider figure figcaption {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 2rem;
    padding: 0.6rem;
    position: absolute;
    width: 100%;
}

/*  ================================
        slider area end
    ================================ */

.support-box {
    overflow: hidden;
    margin-bottom: 20px;
}

.support-box ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.support-box ul li {
    float: left;
    width: 25%;
    list-style: none;
    position: relative;
    padding: 15px 0;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 160px;
}

.support-box ul li:first-child {
    background-color: #e4e4e4;
    border-left: 1px solid #eee;
}

.support-box ul li:nth-child(2) {
    background-color: #ececec;
}

.support-box ul li:nth-child(3) {
    background-color: #f4f4f4;
}

.support-box ul li:last-child {
    margin-right: 0;
    background-color: #fafafa;
}

.support-box ul li:nth-child(2) img,
.support-box ul li:nth-child(3) img,
.support-box ul li:last-child img {
    padding-top: 17px;
}

.service-left {
    text-align: center;
}


.service-right {
    padding: 10px 0 0;
    font-weight: 600;
    color: #000;
    transition: 0.5s;
    text-transform: capitalize;
    font-size: 15px;
    text-align: center;
}

.service-right h3 {
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    text-transform: uppercase;
}

.service-right p {
    color: #666;
    margin: 0;
}

/*  ================================
        product title area start
    ================================ */

.main-title {
    padding: 15px 20px;
    background-color: #950926;
    text-align: center;
    margin-bottom: 20px;
}

.main-title h3 {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    line-height: 1.4;
    font-weight: 700;
}

.pro-title {
    padding: 0 0 10px;
}

.pro-title h3 {
    color: #1D71AB;
    font-size: 22px;
    display: inline-block;
    line-height: 1.4;
    font-weight: 700;
}

/*  ================================
        product title area end
    ================================ */

/*  ================================
        product area start
    ================================ */

.sider-content {
    border: 1px solid #D1D1D1;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-box h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    background-color: #950926;
    color: #fff;
    text-transform: capitalize;
}

.sidebar-box img {
    margin-top: 10px;
    width: 100%;
}

.product-wraper {
    border: 1px solid #D1D1D1;
    overflow: hidden;
    padding: 40px 20px;
    margin-bottom: 20px;
    border-top: 2px solid #1D71AB;
}

.dec-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-dec {
    padding: 20px 30px;
    border: 1px solid #D1D1D1;
    overflow: hidden;
    margin-bottom: 20px;
    border-top: 2px solid #1D71AB;
}

.product-dec h3 {
    color: #000;
    font-size: 22px;
    margin: 30px 0 10px;
    font-weight: 600;
}

.product-dec h4 {
    font-weight: bold;
    color: #000;
    font-size: 16px;
    line-height: 1.3;
    margin: 20px 0 10px;
}

.product-dec p {
    margin-bottom: 10px !important;
}

.product-dec p strong {
    font-size: 16px;
}

.product-dec span {
    margin-bottom: 10px;
    display: inline-block;
}

.product-dec p.colortx {
    color: #950926;
    font-weight: 500;
}

.product-dec ul {
    margin-bottom: 30px;
}

.product-dec ul,
.tab-list ul {
    margin: 0 0 10px;
}

.product-dec ul li,
.box-content ul li,
.sidebar-box ul li {
    list-style: none;
    padding: 5px 20px;
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.product-dec ul li::before,
.box-content ul li::before {
    position: absolute;
    content: "\f046";
    font-family: fontawesome;
    left: 0;
    color: #950926;
}

.tl {
    text-align: left !important;
}

.sidebar-box ul li {
    border-bottom: 1px solid #D1D1D1;
    padding: 10px 15px;
}

.sidebar-box ul li:last-child {
    border: 0;
}

.sidebar-box ul li a {
    color: #000;
    font-weight: 600;
    transition: 0.5s;

}

.sidebar-box ul li a:hover {
    color: #1D71AB;
}

.scp {
    padding: 15px
}

.scpe {
    padding: 0 10px 10px;
}

.product-dec ul.point {
    display: inline-block;
    float: left;
    width: 50%;
}

/*  ================================
        product area end
    ================================ */

/*  ================================
        tab area start
    ================================ */
.accordion {}

.accordion input {
    display: none;
}

.box {
    position: relative;
    background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}

.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.box-title {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-content {
    padding: 20px;
    display: none;
}

.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.accordion input:checked + .box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

.accordion input:checked + .box .box-title {
    border-bottom: 1px solid rgba(0, 0, 0, .18);
}

.accordion input:checked + .box .box-content,
.accordion input:checked + .box .box-close {
    display: inline-block;
}

.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);
	font-size: 16px;
	color: #950926;
}

.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out;
    color: rgba(0, 0, 0, .54);
}

.accordion input:checked + section.box .box-title:before {
    transform: rotate(90deg);
}

/*  ================================
        tab area end
    ================================ */


/*  ================================
        footer area start
    ================================ */

.sub-btn {
    border: 1px solid #095330;
    background: #095330;
    color: #fff;
    text-transform: uppercase !important;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
}

.sub-btn:focus,
.sub-btn:hover {
    color: #fff;
}

.main-footer {
    padding: 20px 0;
}

/*  ================================
        footer area end
    ================================ */
.csslider {
    position: relative;
}

.csslider > input {
    display: none;
}

.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}

.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}

.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}

.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}

.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}

.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}

.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}

.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}

.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}

.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0;
}

.csslider > ul {
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

.csslider > ul > li {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    height: 400px;
    line-height: normal;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1) 0s;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    text-align: center;
}

.csslider > ul > li.scrollable {
    overflow-y: scroll;
}

.csslider > .navigation {
    text-align: center;
    margin-top: 15px;
}

.csslider > .navigation label {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    position: relative;
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.csslider > .navigation label img {
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 5px;
}

.csslider > .navigation label:hover::after {
    opacity: 1;
}

.csslider > .navigation label::after {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    opacity: 0;
    padding: 6px;
    position: absolute;
    top: 50%;
}

.csslider > .arrows {
    -moz-user-select: none;
}

.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1)::after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2)::after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3)::after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4)::after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5)::after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6)::after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7)::after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8)::after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9)::after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10)::after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11)::after {
    opacity: 1;
}

.csslider > .arrows {
    box-sizing: content-box;
    height: 26px;
    left: -31px;
    padding: 0 31px;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 0;
}

.csslider > .arrows label {
    box-shadow: 2px -2px 0 1px #3a3a3a inset;
    cursor: pointer;
    display: none;
    padding: 13px;
    position: absolute;
    top: -50%;
    transition: box-shadow 0.15s ease 0s, margin 0.15s ease 0s;
    z-index: 9999;
}

.csslider > .arrows label:hover {
    box-shadow: 3px -3px 0 2px #009EE1 inset;
    margin: 0;
}

.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
    display: block;
    left: -27px;
    right: auto;
    transform: rotate(45deg);
}

.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
    display: block;
    left: auto;
    right: -27px;
    transform: rotate(225deg);
}

.rt-container {
    margin: 0 auto;
    width: 76%;
}

.csslider ul li img {
    height: auto;
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.navigation > label {
    border: 1px solid #D1D1D1;
    border-radius: 5px !important;
    margin-bottom: 5px;
}
